@charset "UTF-8";

/* Open Sans - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    /* fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;

    /* colors */
    --color01: #021a38;
    --color02: #0460D9;
    --color03: #327AD9;
    --color04: #5E9FF2;
    --color05: #89ABD9;
    --color06: #F2F2F2;
    --color06-1: #f2f2f270;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

ul {
    list-style: none;
}

body{
    background-image: radial-gradient(farthest-corner at 40px 40px,  var(--color06), var(--color06-1));
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, .button {
    font-family: var(--primary-font);
    color: var(--color01);
}

p {
    font-size: 1.2em;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin: 1em 0em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;

    background-color: var(--color02);
    width: 160px;
    height: 35px;
    border-radius: 30px;

    color: var(--color06);
    text-decoration: none;
}

.button:hover {
    background-color: var(--color06);
    font-weight: bold;
    color: var(--color02);
    border: 1px solid var(--color02);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

nav, footer {
    background-image: linear-gradient(to left, var(--color03), var(--color04));
    box-shadow: 0px 0px 3px 0px var(--color01);
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav p {
    font-family: var(--primary-font);
    color: var(--color06);
    font-size: 1.25em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 0.8s;
}

nav p:hover {
    text-shadow: 0.03em 0.03em 0.2em var(--color01);
}

header nav span#burger-menu {
    color: var(--color06);
    font-size: 1.9em;
}

header nav span#burger-menu:hover {
    font-size: 2em;
    cursor: pointer;
}

header nav menu#fixed-menu {
    display: none;
}

header nav ul, footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

header nav ul:last-child {
    margin-right: 1.8em;
}

header nav ul li, footer ul li {
    margin: 0em 1.5vw;
    font-weight:100;
}

header nav ul a, footer ul a {
    font-size: 1.1em;
    color: var(--color06);
    text-decoration: none;
}

header nav ul a:hover, footer ul a:hover {
    text-shadow: 0.03em 0.03em 0.2em var(--color01);
}

header nav ul {
    display: none;
}

header menu#floating-menu {
    display: none;
    position: absolute;
    top: 3em;
    right: 0px;

    width: 100vw;
    height: calc(100vh - 3em);
    
    background-color: var(--color06-1);
    backdrop-filter: blur(3px);
}

header menu#floating-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header menu#floating-menu ul li {
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--color01);
    font-weight: 500;
    font-size: 2.6em;
    width: 100vw;
    height: calc((100vh - 4em) / 4);
    text-align: center;
    padding-top: 5%;
}

header menu#floating-menu ul li:hover {
    color: var(--color06);
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}

main {
    padding: 2em;
    width: 90vw;

    display: flex;
    flex-direction: column;
}

main section {
    padding-top: 3.5em;
    min-height: calc(100vh - 3.5em);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section div {
    text-align: center;
}

main section#initial div img {
    width: 55vw;
    border-radius: 50%;
}

main section#initial div h1 {
    margin-top: 1em;
    font-weight: bolder;
}

main section#initial div h2 {
    font-size: 1em;
    color: #00000080;
}

main section#initial div a#download-cv { display: flex; }
main section#initial div a#contact { display: flex; }
main section#initial div a#linkedin { display: none; }
main section#initial div a#github { display: none; }
main section#initial div a#email { display: none; }

main section#about {
    padding-top: 0;
    min-height: 100vh;

    justify-content: flex-start;
}

main section#about div#background-track {
    height: 17vh;
    width: 97vw;

    margin-top: 3em;
    
    background: var(--color01) url(../images/background-track-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
}

main section#about h1 {
    margin: 2em;
}

main section#projects div {
    align-items: center;
    width: 100%;
}

main section#projects div div {
    width: 100%;
    max-width: 230px;
}

main section#projects div h3, a {
    color: var(--color06);
    font-size: 0.7em;
}

main section#projects div#project-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main section#projects div div.project-box {
    justify-content: center;
}

main section#projects div div div.projects {
    height: 15vh;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: var(--color01) no-repeat;
    background-size: cover;
    background-position: center top;
}

main section#projects div div div.projects * {
    display: none;
}

main section#projects div div div.projects-link {
    height: 5vh;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--color01);
}

main section#projects div div div.projects-link a:hover {
    font-weight: bolder;
}

main section#skills ul#technologies {
    columns: 2;
    margin: 1em 0em;
}

main section#skills div ul li i {
    display: block;
    padding: 15px;
    font-size: 5em;
}

main section#skills div ul li i:hover {
    color: var(--color02);
    cursor: pointer;
}

main section#skills div div#skill-desc {
    display: none;
}

footer {
    width: 100%;
    height: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    color: var(--color06);
}

/* Tablets */
@media screen and (min-width: 426px) {
    .button {
        width: 180px;
        font-size: 1.3em;
    }

    h1 {
        font-size: 2.2em;
    }

    header nav p {
        font-size: 1.6em;
    }

    main section#initial {
        display: flex;
        flex-direction: row-reverse;
    }

    main section#initial div img {
        width: 30vw;
    }
    
    main section#initial div h1 {
        font-size: 2.2em;
    }
    
    main section#initial div h2 {
        font-size: 1.2em;
    }
    
    main section#initial div a#linkedin { display: flex; }
    main section#initial div a#github { display: flex; }
    main section#initial div a#email { display: flex; }

    main section#about {
        min-height: 70vh;
    }

    main section#projects div#project-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section#skills ul#technologies {
        columns: 3;
    }

    main section#skills ul#technologies li {
        padding: 1em;
    }
}

/* Screen Computers */
@media screen and (min-width: 769px) {
    main {
        width: 80vw;
    }

    header nav ul {
        display: flex;
    }

    header nav ul a {
        font-size: 1.4em;
    }

    header nav span#burger-menu {
        display: none;
    }

    main section#about div#background-track {
        height: 20vh;
        width: 98vw;
        
        background: var(--color01) url(../images/background-track-device.jpg) no-repeat;
        background-size: cover;
        background-position: right bottom;
    }

    main section#projects div div {
        max-width: 335px;
    }

    main section#projects div div div.projects {
        height: 18vh;
    }

    main section#projects div div div.projects-link {
        height: 8vh;
    }
    
    main section#projects div div div.projects-link * {
        font-size: 1em;
    }
}

/* Large Screen Computers */
@media screen and (min-width: 1025px) {

    main {
        width: 75vw;
    }

    main section#initial {
        display: flex;
        flex-direction: row;
    }

    main section#about div#background-track {
        height: 22vh;
        
        background: var(--color01) url(../images/background-track-full.jpg) no-repeat;
        background-size: cover;
        background-position: right bottom;
    }

}

/* 4k */
@media screen and (min-width: 1441px) {

    main section#skills ul#technologies {
        columns: 4;
    }
}

/* Television */
@media screen and (min-width: 2561px) {
    main {
        width: 60vw;
    }

    main section#initial div img {
        width: 20vw;
    }
}