@charset "UTF-8";

/* Open Sans - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    /* fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;

    /* colors */
    --color01: #021a38;
    --color02: #0460D9;
    --color03: #327AD9;
    --color04: #5E9FF2;
    --color05: #89ABD9;
    --color06: #F2F2F2;
    --color06-1: #f2f2f270;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

body{
    background-image: radial-gradient(farthest-corner at 40px 40px,  var(--color06), var(--color06-1));
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, .button {
    font-family: var(--primary-font);
    color: var(--color01);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;

    background-color: var(--color02);
    width: 160px;
    height: 35px;
    border-radius: 30px;

    color: var(--color06);
    text-decoration: none;
}

.button:hover {
    background-color: var(--color06);
    font-weight: bold;
    color: var(--color02);
    border: 1px solid var(--color02);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

nav, footer {
    background-image: linear-gradient(to left, var(--color03), var(--color04));
    box-shadow: 0px 0px 3px 0px var(--color01);
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav p {
    font-family: var(--primary-font);
    color: var(--color06);
    font-size: 1.25em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 0.8s;
}

nav p:hover {
    text-shadow: 0.03em 0.03em 0.2em var(--color01);
}

header nav span#burger-menu {
    color: var(--color06);
    font-size: 1.9em;
}

header nav span#burger-menu:hover {
    font-size: 2em;
    cursor: pointer;
}

header nav menu#fixed-menu {
    display: none;
}

header nav ul, footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

header nav ul:last-child {
    margin-right: 1.8em;
}

header nav ul li, footer ul li {
    margin: 0em 1.5vw;
    font-weight:100;
}

header nav ul a, footer ul a {
    font-size: 1.1em;
    color: var(--color06);
    text-decoration: none;
}

header nav ul a:hover, footer ul a:hover {
    text-shadow: 0.03em 0.03em 0.2em var(--color01);
}

header nav ul {
    display: none;
}

header menu#floating-menu {
    display: none;
    position: absolute;
    top: 3em;
    right: 0px;

    width: 100vw;
    height: calc(100vh - 3em);
    
    background-color: var(--color06-1);
    backdrop-filter: blur(3px);
}

header menu#floating-menu ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header menu#floating-menu ul li {
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--color01);
    font-weight: 500;
    font-size: 2.6em;
    width: 100vw;
    height: calc((100vh - 4em) / 4);
    text-align: center;
    padding-top: 5%;
}

header menu#floating-menu ul li:hover {
    color: var(--color06);
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}

main {
    padding: 2em;
    width: 90vw;

    display: flex;
    flex-direction: column;
}

main section {
    padding-top: 3.5em;
    min-height: calc(100vh - 3.5em);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section div {
    text-align: center;
}

main section#initial div img {
    border-radius: 50%;
}

main section#initial div h1 {
    margin-top: 1em;
    font-weight: bolder;
}

main section#initial div h2 {
    font-size: 1em;
    color: #00000080;
}

main section#skills ul#technologies {
    list-style: none;
    columns: 2;
    margin: 1em 0em;
}

main section#skills div ul li i {
    display: block;
    padding: 15px;
    font-size: 5em;
}

main section#skills div ul li i:hover {
    color: var(--color02);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    color: var(--color06);
}


/* background-image: radial-gradient(farthest-corner at 40px 40px,  var(--color06), var(--color05)); */